.card
  - @reviews.each do |review|
    .card-header
      %h2= review.company
      %small user nameさん age歳 gender
    .card-body
      %h5.card-title おすすめ度 星星星星星
      %p.card-text= review.comment
      %a.btn.btn-primary{:href => "/reviews/#{review.id}/edit"} 詳しく見る
= paginate(@reviews)
