<div class="card">
  <% @reviews.each do |review| %>
  <div class="card-header">
    <h2><%= review.firm %></h2><small>user nameさん age歳 gender</small>
  </div>
  <div class="card-body">
    <h5 class="card-title">おすすめ度 星星星星星</h5>
    <p class="card-text"><%= review.review %></p>
    <a href="#" class="btn btn-primary">詳しく見る</a>
  </div>
  <% end %>
</div>