<div class="card">
  <div class="card-header">
    〇〇さん　21歳　男性　
  </div>
  <div class="card-body">
    <h5 class="card-title">ぴょんぴょん舎稲荷町本店</h5>
    <p class="card-text">２年半ここのバイト先に勤務しましたがとても働きやすい環境でした。飲食店であるため、土日祝、イベント期間は忙しいです。
    シフトが１週間に一度の提出なので、シフトの融通がきき、突然の予定が入った場合でも柔軟に対応してくれました。
    旅行や学生のテスト期間などは前々から言っておくと長期の休みもいただけたのでとても助かりました。</p>
    <a href="#" class="btn btn-primary">詳しく見る</a>
  </div>
</div>